<div *ngIf="displayGoBackBtn()" class="adminSwitchHolder">
    <i class="fa fa-solid fa-arrow-left" aria-hidden="true" (click)="goBackToPrevStep()"></i>
</div>
<div *ngIf="!userStep" class="adminSwitchHolder">
    <i class="fa fa-solid fa-screwdriver-wrench" (click)="navigateToAdminPage()"></i>
</div>

<app-restaurants-list [restaurants]="restaurants" *ngIf="userStep == 0"
    (onEvent)="onRestaurantEvent($event)"></app-restaurants-list>

<app-users-list [users]="users" *ngIf="userStep == 1" (onEvent)="onUserSelectionEvent($event)"></app-users-list>

<app-code-key-input *ngIf="userStep == 2" (onEvent)="onCodeSelectionEvent($event)"></app-code-key-input>